body {
    background: #f6f6f8;
}

.bg-purple {
    background-color: #f3f0f0;
}

.bg-purpleclear {
    background-color: #fafafa;
}

.btn-purpledark {
    background-color: #edf1f5;
}

.table-purple {
    background-color: #e8edee;
}                 